<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.MedicalHealthCare.Utilities.ExtendListnerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.MedicalHealthCare.testCases.TC_userLogin"/>
      <class name="com.MedicalHealthCare.testCases.TC_userLoginWithInvalidCredentials"/>
      <class name="com.MedicalHealthCare.testCases.TC_HomePage"/>
      <class name="com.MedicalHealthCare.testCases.BaseClass"/>
      <class name="com.MedicalHealthCare.testCases.TC_AppointmentConfirmation"/>
      <class name="com.MedicalHealthCare.testCases.TC_BookAppointment"/>
      <class name="com.MedicalHealthCare.testCases.TC_HomePageToggleOption"/>
      <class name="com.MedicalHealthCare.testCases.TC_LogOut"/>
      <class name="com.MedicalHealthCare.testCases.TC_UserProfile"/>
      <class name="com.MedicalHealthCare.testCases.TC_VerfiyHistoryOption"/>
      <class name="com.MedicalHealthCare.testCases.TC_VerifyHomeOption"/>
      <class name="com.MedicalHealthCare.testCases.TC_EndToEndAppointmentBooking"/>

      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
